body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

input {
  border: 1px solid #5f9341;
  width: 400px;
  padding: 10px;
  display: block;
  outline: none;
}

button {
  margin-top: 4px;
  background-color: #5f9341;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
}

#ul-el {
  margin-top: 40px;
  list-style: none;
  padding-left: 0;
}

#ul-el li {
  margin-top: 10px;
}

#ul-el li a {
  color: #5f9341;
}
